{% extends "base.html" %}

{% block title %}
Filter Entries
{% endblock %}

{% block content %}

        <h2 class="card-title">Filter Entries</h2>
        <form action="{{ url_for('filter_entries') }}" method="post" class="form-group">
            <label for="field">Field:</label>
            <input type="text" id="field" name="field" required class="form-control">
            <label for="condition">Condition:</label>
            <input type="text" id="condition" name="condition" required class="form-control">
            <input type="submit" value="Filter" class="btn btn-primary mt-3">
        </form>

{% endblock %}
