{% extends "base.html" %}

{% block title %}
Home
{% endblock %}

{% block content %}
<div class="jumbotron bg-white">
  <h1 class="display-4">Welcome to the Reference Manager</h1>
  <p class="lead">Here, you can add and search references in your personal BibTeX database.</p>
  <hr class="my-4">
  <div class="list-group">
    <a href="{{ url_for('add_reference') }}" class="list-group-item list-group-item-action">Add a new reference</a>
    <a href="{{ url_for('search_reference') }}" class="list-group-item list-group-item-action">Search references</a>
    <a href="{{ url_for('list_references') }}" class="list-group-item list-group-item-action">List all references</a>
    <a href="{{ url_for('filter_entries') }}" class="list-group-item list-group-item-action">Filter Entries</a>
  </div>
</div>
{% endblock %}
